<div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
         
          <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
             
              <!--  the first row -->
              <div class="row">      
                <div class="col-lg-8 d-flex flex-column">
                  <div class="row flex-grow">
                    <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                    
                        <div class="card-body">
                          <div class="d-sm-flex justify-content-between align-items-start">
                            <div>
                              
                     <h3 class="card-title card-title-dash">
                      <i class="menu-icon mdi mdi-arrow-right-bold"></i> 
                      <b>Employee  </b>{{loadedEmployee.nom}} {{loadedEmployee.prenom}}
                     </h3>
    
                     </div>
                          </div>
                        </div>
                      
                    </div>
                  </div>
                </div>
                                    
              </div>
  
  
                  <!--  the third row -->
                  <div class="row">      
                    <div class="col-lg-8 d-flex flex-column">
                      <div class="row flex-grow">
                        <div class="col-12 col-lg-12 col-lg-12 grid-margin stretch-card">
                          <div class="card card-rounded">
                            <div class="card-body">
                               
                              <div class="d-sm-flex justify-content-between align-items-start">
                               
                                  <form  (ngSubmit)="employeeUpdate(loadedEmployee)">
                                    <div class="row">
                                    <div class="col-md-8">
                                    
                                  <h4 class="card-title card-title-dash">Information Personnel</h4>
                                  <p class="card-subtitle card-subtitle-dash">ici nous les materiel avec defernt types affecte au </p>
                                  </div>

                                  <div class="col-md-4" >
                                     <button  class="btn btn-outline-danger btn-fw" (click)="openMediumModal(mediumModalContent) ">Supprimer</button>
                                     <button type="submit" class="btn btn btn-outline-success btn-fw">Update</button>
                                    </div>
                              
                                
                                  
                                  <p class="card-description">
                                    Personal info
                                  </p>

                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group row">
                                        <label class=" col-form-label">Matricule</label>
                                        <div class="">
                                          <input type="number" name="matricule" class="form-control " placeholder="matricule" required
                                          [(ngModel)]="loadedEmployee.matricule"/>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group row">
                                        <label class=" col-form-label">Nom</label>
                                        <div class="">
                                          <input type="text" name="nom" class="form-control" placeholder="nom" required
                                          [(ngModel)]="loadedEmployee.nom"  />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group row">
                                        <label class=" col-form-label">Prenom</label>
                                        <div class="">
                                          <input type="text" name="prenom" class="form-control" placeholder="Prenom" required
                                          [(ngModel)]="loadedEmployee.prenom"  />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group row">
                                        <label class=" col-form-label">Date de Naissance</label>
                                        <div class="">
                                          <input  type="text" name="datenaissance" class="form-control" required
                                          [(ngModel)]="loadedEmployee.datenaissance"  placeholder="dd/mm/yyyy"/>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group row">
                                        <label class=" col-form-label">Direction</label>
                                        <div class="">
                                         
                                           <select class="form-control" name ="direction.idEmp"  [(ngModel)]="loadedEmployee.direction.id" > 
                                             <option *ngFor="let direction of loadedDirections" [value]="direction.id" > {{direction.nom}} </option>
                                            </select>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group row">
                                        <label class=" col-form-label">Fonction</label>
                                  
                                        <div class="">
                                          <textarea name="post" class="form-control" placeholder="Post" required
                                          [(ngModel)]="loadedEmployee.post"></textarea>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <p class="card-description">
                                    Contact
                                  </p>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group row">
                                        <label class=" col-form-label">numero de telephone</label>
                                        <div class="">
                                          <input  type="text" name="numtel" class="form-control" placeholder="+312 111 111 111" required
                                          [(ngModel)]="loadedEmployee.numtel" />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group row">
                                        <label class=" col-form-label">Email</label>
                                        <div class="">
                                          <input  type="text" name="mailPers" class="form-control" placeholder="xx@fffai.ss" required
                                          [(ngModel)]="loadedEmployee.mailPers" />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group row">
                                        <label class=" col-form-label">Numero de Poste</label>
                                        <div class="">
                                          <input  type="text" name="numpost" class="form-control" placeholder="111" required
                                          [(ngModel)]="loadedEmployee.numpost" />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group row">
                                        <label class=" col-form-label">Adresse</label>
                                        <div class="">
                                          <textarea name="adresse" class="form-control rounded-0" placeholder="Votre adresse" required
                                          [(ngModel)]="loadedEmployee.adresse"  rows="3" ></textarea>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                             
                                  

                               
              
                                </div>
                              </form>
                              </div>
                            
  
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                   
                    <div class="col-lg-4 d-flex flex-column">
                      <div class="row flex-grow">         
                        <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                          <div class="card card-rounded">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="card-title card-title-dash">Demande d'intervention</h4>
                                    <div class="add-items d-flex mb-0">
                                    </div>
                                  </div>
                                  <div class="list-wrapper">
                                
                                    <ul class="todo-list todo-list-rounded"     *ngFor="let intervention of loadedIntervention">

                                      <li class="d-block">
                                        <div class="form-check w-100">
                                          <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> {{intervention.descreption}}<i class="input-helper rounded"></i>
                                          </label>
                                          <div class="d-flex mt-2">
                                            <div class="ps-4 text-small me-3">{{intervention.dateDemandeInter}}</div>
                                            <div class="badge badge-opacity-warning me-3">{{intervention.etat}}</div>
                                            <i class="mdi mdi-flag ms-2 flag-color"></i>
                                          </div>
                                        </div>
                                      </li>
                                 
 
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                                           <!--  -->
                   
                  
                  </div>
                  <div class="col-lg-8 d-flex flex-column">
                    <div class="row flex-grow">         
                      <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-start">
                              <div>
                                <h4 class="card-title card-title-dash">Liste des Machine</h4>
                               <p class="card-subtitle card-subtitle-dash">Répresente la liste des machine affecte a ce  salarie pour besion.</p>
                              </div>
                            
                            </div>
                            <div class="table-responsive  mt-1">
                              <table class="table select-table">
                                <thead>
                                  <tr>
                                    
                                    <th>N°Serie</th>
                                    <th>Type</th>
                                    <th>Mark</th>
                                    <th>Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  
                                  <tr  *ngFor="let machine of loadedMachines">
                                     
                                    <th> {{machine.numSerie}}</th>
                                    <th>{{machine.typeMach}}</th>
                                    <th>{{machine.marqueMach}}</th>
                                    <th>{{machine.etat}}</th>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
  
  
  
  
  
  
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <ng-template #mediumModalContent let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-2">Supprmier Employée</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form  #authForm="ngForm"  (ngSubmit)="deleteEmp(loadedEmployee.id)">
        <div class="modal-body">
          Do you want to delete employee {{ loadedEmployee.nom }} {{loadedEmployee.prenom}}??
        </div>
  
          <button type="submit" class="btn btn-danger" (click)="modal.close()">Submit</button>
          <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
     
      </form>
    </div>
  </ng-template>