<div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#information" role="tab" aria-selected="false">Information</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#software" role="tab" aria-selected="false">SoftWare</a>
              </li>
              <li class="nav-item">
                <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab" aria-selected="false">More</a>
              </li>
            </ul>
            <div>
              
            </div>
          </div>

          
          <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
              <div class="row">
                <div class="col-sm-12">
                  <div class="statistics-details d-flex align-items-center justify-content-between">
                    <div>
                      <p class="statistics-title">Employees</p>
                      <h3 class="rate-percentage">130</h3>
                    </div>
                    <div>
                      <p class="statistics-title">Machines</p>
                      <h3 class="rate-percentage">234</h3>
                    </div>
                    <div>
                      <p class="statistics-title">Intervention</p>
                      <h3 class="rate-percentage">2</h3>
                    </div>
                    <div class="d-none d-md-block">
                      <p class="statistics-title">Logiciel</p>
                      <h3 class="rate-percentage">4</h3>
                    </div>
                    <div class="d-none d-md-block">
                      <p class="statistics-title">Contrat</p>
                      <h3 class="rate-percentage">4</h3>
                    </div>
                  </div>
                </div>
              
    </div>
    </div>
    <!-- ////////////les charts  -->
    <div class="row">
      <div class="col-lg-8 d-flex flex-column">
        <div class="row flex-grow">
          <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
              <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                  <div>
                    <h4 class="card-title card-title-dash">Direction Overview</h4>
                    <p class="card-subtitle card-subtitle-dash">Afficher l'effective et la defusion de matériel
                      Informatique per Direction.</p>
                  </div>
    
                </div>
              
                <div class="chartjs-bar-wrapper mt-3">
                  <canvas id="myChart"></canvas>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>

                    </div>
            <!-- 2 eme panel -->
          <div class="tab-pane fade " id="information" role="tabpanel" aria-labelledby="information">
             <div class ="row">
            <div class="col-md-6 col-lg-6 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body card-rounded">
                  <h4 class="card-title  card-title-dash">Information Fournisseur</h4>
                  <div class="list align-items-center border-bottom py-2" *ngFor="let fournisseur of loadedFournisseur">
                    <div class="wrapper w-100">
                      <p class="mb-2 font-weight-medium">
                       {{fournisseur.nomFourni}}
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi  mdi-deskphone"></i>
                          <p class="mb-0 text-small text-muted">  {{fournisseur.Adresse}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                 
                
                
                  <div class="list align-items-center pt-3">
                    <div class="wrapper w-100">
                      <p class="mb-0">
                        <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-6 grid-margin stretch-card">
              <div class="card card-rounded">
                <div class="card-body card-rounded">
                  <h4 class="card-title  card-title-dash">Information Direction</h4>
            
               <div class="list align-items-center border-bottom py-2" *ngFor="let direction of loadedDirections" >
                    <div class="wrapper w-100">
                      <p class="mb-2 font-weight-medium">
                        {{ direction.nom }}
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi  mdi-deskphone"></i>
                          <p class="mb-0 text-small text-muted">post :   {{ direction.numPost }} , Emplacment : {{ direction.emplacement }} </p>
                        </div>
                      </div>
                    </div>
                  </div>
                
                 
                  
                  <div class="list align-items-center pt-3">
                    <div class="wrapper w-100">
                      <p class="mb-0">
                        <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          </div>

          <!-- 3emem eme panel -->
          <div class="tab-pane fade " id="software" role="tabpanel" aria-labelledby="information">
            <div class ="row">
           <div class="col-md-12 col-lg-12 grid-margin stretch-card">
             <div class="card card-rounded">
               <div class="card-body card-rounded">
                 <h4 class="card-title  card-title-dash">Logiciel</h4>
                 <small>Small descreption and information of the logiciel et application utiliser dans les direction</small>
                
                       
                        <div class="table-responsive  mt-1">
                          <table class="table select-table">
                            <thead>
                              <tr>
                            
                                <th>Logo</th>
                                <th>Licence</th>
                                <th>Direction</th>
                                <th>Fournisseur</th>
                                <th>Lien de telechatrgment</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>


                              <tr   *ngFor="let logiciel of loadedLogiciel">
    
                                <td>
                                  <div class="d-flex ">
                                    <img src="{{logiciel.logo}}" alt="">
                                    <div>
                                      <h6>{{logiciel.nomLog}}</h6>
                                      <p>{{logiciel.versionLog}}</p>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <h6>{{logiciel.Licence}}</h6>
                                </td>
                                <td >
                                  <ng-container  *ngFor="let logpardir of loadedlogpardir">
                                    <p *ngIf="logpardir.idLog===logiciel.idLog"  >
                                      <ng-container *ngFor="let direction of loadedDirections"  >
                                        <ng-container *ngIf="logpardir.idDir===direction.id">  - {{direction.nom}} </ng-container>
                                   
                                      </ng-container>
                                   
                                    </p> 
                                  </ng-container>
                                  
                                  </td>
                                <td>{{logiciel.fournisseur.nomFourni}} </td>
                                <td>{{logiciel.lienTelechr}} </td>
                                <td><button type="button" class="btn btn-outline-primary btn-rounded  btn-sm btn-fw">Detaille</button></td>
                              </tr>
                          
                            </tbody>
                          </table>
                        </div>
                  
                
               
            
               </div>
             </div>
           </div>


     

         </div>
         </div>

        
        
        
        </div>

      
        </div>
      </div>
    </div>
  </div>
