<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    <div class="row">
                        <div class="col-lg-11">
                            <h4 class="card-title">Gestion de Projets </h4>
                            <div class="row">

                                <div class="col-lg-3">
                                    <input class="form-control" type="text" name="nom" [(ngModel)]="nom"
                                        (ngModelChange)="Search()" placeholder="Recherche">
                                </div>

                                <div class="col-lg-8"> </div>
                                <div class="col-lg-1">
                                    <button type="button" class="btn btn-success btn-rounded btn-icon"
                                        (click)="openMediumModal(mediumModalContent)">
                                        <i class="ti-plus"></i>
                                    </button>

                                </div>
                            </div>

                        </div>

                        <div class="table table-responsive table-striped table-bordere">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th (click)="sort('id')">Direction <i class="fa fa-sort"></i></th>
                                        <th (click)="sort('id')">Matricule <i class="fa fa-sort"></i></th>
                                        <th (click)="sort('id')"> Nom&nbsp; <i class="fa fa-sort"></i></th>
                                        <th (click)="sort('id')">Prenom&nbsp; <i class="fa fa-sort"></i></th>
                                        <th (click)="sort('id')">Post&nbsp; <i class="fa fa-sort"></i></th>
                                        <th>Action&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer;" *ngFor="let employee of loadedEmployees  
                      | orderBy: key: reverse |paginate : {itemsPerPage:5,currentPage:p};
                      " (click)="detaille(employee.id)">
                                        <td>{{employee.direction.nom}}</td>
                                        <td>{{employee.matricule}}</td>
                                        <td>{{employee.nom}}</td>
                                        <td>{{employee.prenom}}</td>
                                        <td>{{employee.post}}</td>
                                        <td> <button type="button"
                                                class="btn btn-outline-primary btn-rounded  btn-sm btn-fw">Detaille</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <pagination-controls class=" pagination justify-content-end " (pageChange)="p =$event">
                            </pagination-controls>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ng-template #mediumModalContent let-modal class="modal fade" id="exampleModal-2"
        aria-labelledby="exampleModalLabel-2">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-2">Demande d'achat</h5>

                <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <small>this demande doit aprove pour avoir une contrat et ajouter direction une contrat et relation avec
                le fournisseur.</small>
            <form #achatForm="ngForm" (ngSubmit)="onSubmit(achatForm)">
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="exampleInputUsername1" class="col-sm-3 col-form-label"><b>Type de demande:</b></label>
                        <div class="col-sm-9">
                            <select class="form-control" name="categorieMach" (change)="onForm2NameChange($event)" ngModel>
                                <ng-container *ngFor="let demande of TypesDemande">
                                    <option value={{demande.title}}>
                                        {{demande.title}}
                                    </option>
                                </ng-container>
                            </select>
                            </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-sm-3 col-form-label"><b>Descreption :</b></label>
                        <div class="col-sm-9">
                            <textarea class="form-control" name="nom" placeholder="Explenation for the achat de ce produit !!!" ngModel></textarea>
                            </div>
                            </div>
                            <!-- les objet   -->
                            <div class="form-group row" *ngIf="modal2 ==='Achat Matériel' ">
                                <label class=" col-sm-3"><b>Ajouter Materiel:</b> </label>
                                <p>Ici je doit faire une formalaire d'ajouter une materile la meme de machine; avec un booton </p>
                            </div>
                            
                            
                            
                            <!-- les objet a demande  -->
                            <div class="form-group row" *ngIf="modal2 ==='Achat Logiciel' ">
                                <label class=" col-sm-3"><b>Ajouter une logiciel :</b> </label>
                                <p>pour logiciel on doit ajouter une logiciel c'est formulaire</p>
                            
                            </div>
                            <!-- les objet a demande  -->
                            <div class="form-group row" *ngIf="modal2 ==='Achat Licence' ">
                                <label class=" col-sm-3"><b>Achat Licence:</b> </label>
                                <p> licence pour logiciel or materiel (sphos , )</p>
                            
                            </div>
<!-- les objet a demande  -->
<div class="form-group row" *ngIf="modal2 ==='Achat Abonnement' ">
    <label class=" col-sm-3"><b>Ajouter une Abonnement :</b> </label>
    <p>pour abbonnmanet internet je doit redejer l'abbonmant</p>

</div>
<!-- Achat Service -->

<div class="form-group row" *ngIf="modal2 ==='Achat Service' ">
    <label class=" col-sm-3"><b>Ajouter une Service :</b> </label>
    <p>pour selectionne le type de service, descreption de service avec une possiblite de slection le materiel ou le
        logiciel</p>

</div>

<!-- Achat Service -->

<div class="form-group row" *ngIf="modal2 ==='Demande Fourniteur' ">
    <label class=" col-sm-3"><b>Demande Fourniteur :</b> </label>
    <p>Demande interne, je doit fair une possibilite de faire une ajouter des elemnt demande et leur quentitie</p>

</div>

                    <div class="form-group row">
                        <label for="exampleInputPassword1" class="col-sm-3 col-form-label"><b>Devis (optional ): </b></label>
                        <div class="col-sm-9"> <input type="file" class="form-control" ngModel></div>

                    </div>
                    <div class="form-group row">
                        <label for="exampleInputConfirmPassword1" class="col-sm-3 col-form-label">Date de
                            Demande</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" name="datenaissance" placeholder="date" ngModel>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success" (click)="modal.close()">Submit</button>
                <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>

            </form>
        </div>
    </ng-template>

